![Growdev](https://www.growdev.com.br/assets/images/logo_growdev.png)

# Tópicos da Aula de Hoje

<img src="https://upload.wikimedia.org/wikipedia/commons/thumb/e/ed/Pandas_logo.svg/2560px-Pandas_logo.svg.png" width="500" height="200" />

- Dataframes

**Bora pra aula?**

In [ ]:
!pip install pandas

In [1]:
import pandas as pd

# Dataframes

O Pandas DataFrame é uma estrutura de dados tabular bidimensional de tamanho variável, podendo ou não ser heterogênea (vários tipos de dados), com eixos rotulados (linhas e colunas). O arranjo de um DataFrame permite a distribuição dos dados em linhas e colunas. Assim, podemos destacar três componentes presentes em um data frame: 
+ linhas
+ colunas
+ valores

<img src=https://media.geeksforgeeks.org/wp-content/uploads/finallpandas.png width=700 height=500>

Para inicializar um data fame utilizamos a função abaixo:

pandas.DataFrame(```data```, ```index```, ```columns```, ```dtype```)

* ```data```: numpy array, listas, series
* ```index```:  É opcional. Caso não seja informado, um objeto np.arange(m) será utilizado
* ```columns```: Também é opcional e é inicializado como np.arange(n) se não passado.
* ```dtype```: tipo de dado das colunas

In [2]:
# Inicializando um dataframe vazio
df_vazio = pd.DataFrame()
df_vazio

Empty DataFrame
Columns: []
Index: []

In [3]:
type(df_vazio)

pandas.core.frame.DataFrame

Podemos iniciar um data frame a partir de diversas outras estrutura, tais como:
* Listas
* Dicionários
* Arrays
* Series

In [4]:
# Dataframe a partir de uma lista
lista = [1,2,3]
columns = ['a']
df_lista = pd.DataFrame(data=lista, columns=columns)
df_lista

   a
0  1
1  2
2  3

In [5]:
# Dataframe a partir de um dicionário
dicionario = {'a':[1,2], 'b':[2,4]}
dicionario

{'a': [1, 2], 'b': [2, 4]}

In [12]:
df_dicionario = pd.DataFrame(dicionario, columns = ['a','b','c'], dtype= int)
df_dicionario

   a  b   c
0  1  2 NaN
1  2  4 NaN

In [13]:
df_dicionario['d'] = [5,10]
df_dicionario

   a  b   c   d
0  1  2 NaN   5
1  2  4 NaN  10

In [14]:
df_dicionario.dtypes

a      int64
b      int64
c    float64
d      int64
dtype: object

In [20]:
df_dicionario

   a  b   c   d
0  1  2 NaN   5
1  2  4 NaN  10

In [19]:
type(df_dicionario)

pandas.core.frame.DataFrame

In [21]:
# Dataframe a partir de uma serie
series = pd.Series([1,2,3,4])
series

0    1
1    2
2    3
3    4
dtype: int64

In [23]:
type(series)

pandas.core.series.Series

In [22]:
df_series = pd.DataFrame(series)
df_series

   0
0  1
1  2
2  3
3  4

In [24]:
type(df_series)

pandas.core.frame.DataFrame

## Carregando dados de um csv e do excel com Pandas

No dia a dia é mais comum que tenhamos acesso à fontes de dados em arquivos de formato csv, xlsx, ou acesso direto a bancos de dados. Dessa forma, o pandas pode ser utilizado parar carregar os dados disponíveis em formato de data frame. 

Aqui iremos demonstrar o carregamento de um arquivo csv.

Mas o que é um arquivo csv?

CSV: **C**omma **S**eparated **V**alues<br>
Arquivo separado por vírgulas.

<img src=https://s3.amazonaws.com/cdn.freshdesk.com/data/helpdesk/attachments/production/1080247870/original/UDHlNQUo4ju-0SSFws_XskGYvIf5KZNn4w.png?1563457877>

Trazendo dados de um csv

```python
pd.read_csv()
```
<a href="https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.read_csv.html">Clique Aqui</a> para saber mais!

pd.read_csv(```file_path_buffer```, ```delimiter```)

* ```filepath_or_buffer```: Caminho do arquivo. Pode ser também um link da internet (github, kaggle)
* ```delimiter```: Pode ser ','   ';'    entre outros.

In [25]:
# A partir de uma URL (Jupyter ou Colab)
url= "https://raw.githubusercontent.com/cs109/2014_data/master/countries.csv"
df_countries = pd.read_csv(filepath_or_buffer=url)
df_countries

       Country         Region
0      Algeria         AFRICA
1       Angola         AFRICA
2        Benin         AFRICA
3     Botswana         AFRICA
4      Burkina         AFRICA
..         ...            ...
189   Paraguay  SOUTH AMERICA
190       Peru  SOUTH AMERICA
191   Suriname  SOUTH AMERICA
192    Uruguay  SOUTH AMERICA
193  Venezuela  SOUTH AMERICA

[194 rows x 2 columns]

In [26]:
type(df_countries)

pandas.core.frame.DataFrame

In [32]:
# No Jupyter: partir de um arquivo local
# No Colab: fazendo previamente o upload do arquivo na sessão
# df_pokemons = pd.read_csv('/content/pokemon_data.csv', index_col=0)
# /Users/thiagoosorio/Desktop/Projetos/growdev/Video Aulas/Python II/Pandas/Aula 2/pokemon_data.csv
df_pokemons = pd.read_csv('pokemon_data.csv')
df_pokemons

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,50,100,150,100,150,50,6,True
796,719,DiancieMega Diancie,Rock,Fairy,50,160,110,160,110,110,6,True
797,720,HoopaHoopa Confined,Psychic,Ghost,80,110,60,150,130,70,6,True
798,720,HoopaHoopa Unbound,Psychic,Dark,80,160,60,170,130,80,6,True
799,721,Volcanion,Fire,Water,80,110,120,130,90,70,6,True

In [ ]:
#Somente no Colab
from google.colab import files
uploaded = files.upload()

import io
df_pokemons = pd.read_csv(io.BytesIO(uploaded['pokemon_data.csv']), index_col=0)
# Agora o Dataset está armazenado no Pandas Dataframe
df_pokemons

A partir de um xlsx também podemos obter dados. O xlsx é uma extensão do excel.

In [33]:
# No Jupyter: partir de um arquivo local
# No Colab: fazendo previamente o upload do arquivo na sessão
df_pokemons_excel = pd.read_excel('pokemon_data.xlsx')
df_pokemons_excel

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,50,100,150,100,150,50,6,True
796,719,DiancieMega Diancie,Rock,Fairy,50,160,110,160,110,110,6,True
797,720,HoopaHoopa Confined,Psychic,Ghost,80,110,60,150,130,70,6,True
798,720,HoopaHoopa Unbound,Psychic,Dark,80,160,60,170,130,80,6,True
799,721,Volcanion,Fire,Water,80,110,120,130,90,70,6,True

## Atributos de um Dataframe

In [34]:
df_countries

       Country         Region
0      Algeria         AFRICA
1       Angola         AFRICA
2        Benin         AFRICA
3     Botswana         AFRICA
4      Burkina         AFRICA
..         ...            ...
189   Paraguay  SOUTH AMERICA
190       Peru  SOUTH AMERICA
191   Suriname  SOUTH AMERICA
192    Uruguay  SOUTH AMERICA
193  Venezuela  SOUTH AMERICA

[194 rows x 2 columns]

In [35]:
# Colunas
df_countries.columns

Index(['Country', 'Region'], dtype='object')

In [36]:
# Índice
df_countries.index

RangeIndex(start=0, stop=194, step=1)

In [38]:
# Shape
df_countries.shape

(194, 2)

In [39]:
# valores (dados)
df_countries['Country'].values

array(['Algeria', 'Angola', 'Benin', 'Botswana', 'Burkina', 'Burundi',
       'Cameroon', 'Cape Verde', 'Central African Republic', 'Chad',
       'Comoros', 'Congo', 'Congo, Democratic Republic of', 'Djibouti',
       'Egypt', 'Equatorial Guinea', 'Eritrea', 'Ethiopia', 'Gabon',
       'Gambia', 'Ghana', 'Guinea', 'Guinea-Bissau', 'Ivory Coast',
       'Kenya', 'Lesotho', 'Liberia', 'Libya', 'Madagascar', 'Malawi',
       'Mali', 'Mauritania', 'Mauritius', 'Morocco', 'Mozambique',
       'Namibia', 'Niger', 'Nigeria', 'Rwanda', 'Sao Tome and Principe',
       'Senegal', 'Seychelles', 'Sierra Leone', 'Somalia', 'South Africa',
       'South Sudan', 'Sudan', 'Swaziland', 'Tanzania', 'Togo', 'Tunisia',
       'Uganda', 'Zambia', 'Zimbabwe', 'Afghanistan', 'Bahrain',
       'Bangladesh', 'Bhutan', 'Brunei', 'Burma', 'Cambodia', 'China',
       'East Timor', 'India', 'Indonesia', 'Iran', 'Iraq', 'Israel',
       'Japan', 'Jordan', 'Kazakhstan', 'Korea, North', 'Korea, South',
       'Kuwait', 'Kyrgyzstan', 'Laos', 'Lebanon', 'Malaysia', 'Maldives',
       'Mongolia', 'Nepal', 'Oman', 'Pakistan', 'Philippines', 'Qatar',
       'Russian Federation', 'Saudi Arabia', 'Singapore', 'Sri Lanka',
       'Syria', 'Tajikistan', 'Thailand', 'Turkey', 'Turkmenistan',
       'United Arab Emirates', 'Uzbekistan', 'Vietnam', 'Yemen',
       'Albania', 'Andorra', 'Armenia', 'Austria', 'Azerbaijan',
       'Belarus', 'Belgium', 'Bosnia and Herzegovina', 'Bulgaria',
       'Croatia', 'Cyprus', 'Czech Republic', 'Denmark', 'Estonia',
       'Finland', 'France', 'Georgia', 'Germany', 'Greece', 'Hungary',
       'Iceland', 'Ireland', 'Italy', 'Latvia', 'Liechtenstein',
       'Lithuania', 'Luxembourg', 'Macedonia', 'Malta', 'Moldova',
       'Monaco', 'Montenegro', 'Netherlands', 'Norway', 'Poland',
       'Portugal', 'Romania', 'San Marino', 'Serbia', 'Slovakia',
       'Slovenia', 'Spain', 'Sweden', 'Switzerland', 'Ukraine',
       'United Kingdom', 'Vatican City', 'Antigua and Barbuda', 'Bahamas',
       'Barbados', 'Belize', 'Canada', 'Costa Rica', 'Cuba', 'Dominica',
       'Dominican Republic', 'El Salvador', 'Grenada', 'Guatemala',
       'Haiti', 'Honduras', 'Jamaica', 'Mexico', 'Nicaragua', 'Panama',
       'Saint Kitts and Nevis', 'Saint Lucia',
       'Saint Vincent and the Grenadines', 'Trinidad and Tobago',
       'United States', 'Australia', 'Fiji', 'Kiribati',
       'Marshall Islands', 'Micronesia', 'Nauru', 'New Zealand', 'Palau',
       'Papua New Guinea', 'Samoa', 'Solomon Islands', 'Tonga', 'Tuvalu',
       'Vanuatu', 'Argentina', 'Bolivia', 'Brazil', 'Chile', 'Colombia',
       'Ecuador', 'Guyana', 'Paraguay', 'Peru', 'Suriname', 'Uruguay',
       'Venezuela'], dtype=object)

In [43]:
df_pokemons

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,50,100,150,100,150,50,6,True
796,719,DiancieMega Diancie,Rock,Fairy,50,160,110,160,110,110,6,True
797,720,HoopaHoopa Confined,Psychic,Ghost,80,110,60,150,130,70,6,True
798,720,HoopaHoopa Unbound,Psychic,Dark,80,160,60,170,130,80,6,True
799,721,Volcanion,Fire,Water,80,110,120,130,90,70,6,True

In [44]:
#Verificando os tipos de cada coluna
df_pokemons.dtypes

#              int64
Name          object
Type 1        object
Type 2        object
HP             int64
Attack         int64
Defense        int64
Sp. Atk        int64
Sp. Def        int64
Speed          int64
Generation     int64
Legendary       bool
dtype: object

## Acessando Dados

In [45]:
df_countries

       Country         Region
0      Algeria         AFRICA
1       Angola         AFRICA
2        Benin         AFRICA
3     Botswana         AFRICA
4      Burkina         AFRICA
..         ...            ...
189   Paraguay  SOUTH AMERICA
190       Peru  SOUTH AMERICA
191   Suriname  SOUTH AMERICA
192    Uruguay  SOUTH AMERICA
193  Venezuela  SOUTH AMERICA

[194 rows x 2 columns]

In [48]:
#Head: primeiras 5 linhas (também é possível definir o número de linhas a serem visualizadas)
df_countries.head()

    Country  Region
0   Algeria  AFRICA
1    Angola  AFRICA
2     Benin  AFRICA
3  Botswana  AFRICA
4   Burkina  AFRICA

In [49]:
#Tail: últimas 5 linhas (também é possível definir o número de linhas a serem visualizadas)
df_countries.tail()

       Country         Region
189   Paraguay  SOUTH AMERICA
190       Peru  SOUTH AMERICA
191   Suriname  SOUTH AMERICA
192    Uruguay  SOUTH AMERICA
193  Venezuela  SOUTH AMERICA

In [51]:
#Sample: retorna uma linha aleatória (também é possível definir o número de linhas a serem visualizadas)
df_countries.sample(5)

                  Country  Region
35                Namibia  AFRICA
94   United Arab Emirates    ASIA
130           Netherlands  EUROPE
11                  Congo  AFRICA
76                Lebanon    ASIA

In [52]:
# Acessando colunas - Método 1
df_pokemons['Name']#.head()

0                  Bulbasaur
1                    Ivysaur
2                   Venusaur
3      VenusaurMega Venusaur
4                 Charmander
               ...
795                  Diancie
796      DiancieMega Diancie
797      HoopaHoopa Confined
798       HoopaHoopa Unbound
799                Volcanion
Name: Name, Length: 800, dtype: object

In [53]:
# Acessando colunas - Método 2 (desde que não haja espaço no nome da coluna)
df_pokemons.Name

0                  Bulbasaur
1                    Ivysaur
2                   Venusaur
3      VenusaurMega Venusaur
4                 Charmander
               ...
795                  Diancie
796      DiancieMega Diancie
797      HoopaHoopa Confined
798       HoopaHoopa Unbound
799                Volcanion
Name: Name, Length: 800, dtype: object