![Growdev](https://www.growdev.com.br/assets/images/logo_growdev.png)

# Tópicos da Aula de Hoje

<img src="https://upload.wikimedia.org/wikipedia/commons/thumb/e/ed/Pandas_logo.svg/2560px-Pandas_logo.svg.png" width="500" height="200" />

- Agregação de DataFrames 
  - groupby
  - agg
  - pivot_table

**Bora pra aula?**

In [1]:
import pandas as pd
import numpy as np

#  Agregação (Group By & Aggregate)

A agregação é simplesmente a ação de olhar as estatísticas sob a perspectiva de grupos.

<img src="https://jakevdp.github.io/PythonDataScienceHandbook/figures/03.08-split-apply-combine.png" height=600 width=600>

Basicamente, os dados vão ser separados de acordo com um ou mais grupos em comum ```(etapa de split)```. Então, a partir da separação desses grupos uma função vai ser aplicada ```(apply (sum))``` em cada subconjunto. No nosso exemplo essa função de soma. No final, ele combina o resultado agrupad ```(combine)```.

<img src="https://www.softwaretestingclass.com/wp-content/uploads/2013/06/sql_group_by_with_aggregate_function.gif" height=450 width=450>

In [2]:
df = pd.read_excel('Pasta1.xlsx')
df

   Dep_ID    Sal
0      10   5500
1      20  15000
2      20   7000
3      30  12000
4      30   5100
5      30   4900
6      30   5800
7      30   5600

```python
dataframe.groupby([COLUNAS])[COLUNA_OPERACAO].operacao()
```

operacao -> sum, std, mean, median, ...

In [3]:
df

   Dep_ID    Sal
0      10   5500
1      20  15000
2      20   7000
3      30  12000
4      30   5100
5      30   4900
6      30   5800
7      30   5600

In [4]:
df.groupby(['Dep_ID'])['Sal'].count()

Dep_ID
10    1
20    2
30    5
Name: Sal, dtype: int64

In [5]:
df['Dep_ID'].value_counts()

Dep_ID
30    5
20    2
10    1
Name: count, dtype: int64

Aqui vemos os grupos de departamento e extraímos a soma do salário por departamento.

In [ ]:
float(False)

In [ ]:
float(True)

In [6]:
df.groupby(['Dep_ID'])['Sal'].sum()

Dep_ID
10     5500
20    22000
30    33400
Name: Sal, dtype: int64

## `groupby`

In [7]:
df_pokemons = pd.read_csv('pokemon_data.csv')
df_pokemons

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,50,100,150,100,150,50,6,True
796,719,DiancieMega Diancie,Rock,Fairy,50,160,110,160,110,110,6,True
797,720,HoopaHoopa Confined,Psychic,Ghost,80,110,60,150,130,70,6,True
798,720,HoopaHoopa Unbound,Psychic,Dark,80,160,60,170,130,80,6,True
799,721,Volcanion,Fire,Water,80,110,120,130,90,70,6,True

In [10]:
df_pokemons.groupby(['Name','Type 1','Type 2']).sum()

,,,#,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
Name,Type 1,Type 2,,,,,,,,,
Abomasnow,Grass,Ice,460,90,92,75,92,85,60,4,0
AbomasnowMega Abomasnow,Grass,Ice,460,90,132,105,132,105,30,4,0
AegislashBlade Forme,Steel,Ghost,681,60,150,50,150,50,60,6,0
AegislashShield Forme,Steel,Ghost,681,60,50,150,50,150,60,6,0
Aerodactyl,Rock,Flying,142,80,105,65,60,75,130,1,0
...,...,...,...,...,...,...,...,...,...,...,...
Zapdos,Electric,Flying,145,90,90,85,125,90,100,1,1
Zekrom,Dragon,Electric,644,100,150,120,120,100,90,5,1
Zubat,Poison,Flying,41,40,45,35,30,40,55,1,0
Zweilous,Dark,Dragon,634,72,85,70,65,70,58,5,0
Zygarde50% Forme,Dragon,Ground,718,108,100,121,81,95,95,6,1

In [ ]:
df_pokemons

In [11]:
df_aula = df_pokemons.groupby(['Name','Type 1','Type 2']).sum()
df_aula

,,,#,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
Name,Type 1,Type 2,,,,,,,,,
Abomasnow,Grass,Ice,460,90,92,75,92,85,60,4,0
AbomasnowMega Abomasnow,Grass,Ice,460,90,132,105,132,105,30,4,0
AegislashBlade Forme,Steel,Ghost,681,60,150,50,150,50,60,6,0
AegislashShield Forme,Steel,Ghost,681,60,50,150,50,150,60,6,0
Aerodactyl,Rock,Flying,142,80,105,65,60,75,130,1,0
...,...,...,...,...,...,...,...,...,...,...,...
Zapdos,Electric,Flying,145,90,90,85,125,90,100,1,1
Zekrom,Dragon,Electric,644,100,150,120,120,100,90,5,1
Zubat,Poison,Flying,41,40,45,35,30,40,55,1,0
Zweilous,Dark,Dragon,634,72,85,70,65,70,58,5,0
Zygarde50% Forme,Dragon,Ground,718,108,100,121,81,95,95,6,1

In [12]:
df_aula.columns

Index(['#', 'HP', 'Attack', 'Defense', 'Sp. Atk', 'Sp. Def', 'Speed',
       'Generation', 'Legendary'],
      dtype='object')

In [13]:
df_aula.index

MultiIndex([(                'Abomasnow',    'Grass',      'Ice'),
            (  'AbomasnowMega Abomasnow',    'Grass',      'Ice'),
            (     'AegislashBlade Forme',    'Steel',    'Ghost'),
            (    'AegislashShield Forme',    'Steel',    'Ghost'),
            (               'Aerodactyl',     'Rock',   'Flying'),
            ('AerodactylMega Aerodactyl',     'Rock',   'Flying'),
            (                   'Aggron',    'Steel',     'Rock'),
            (                  'Altaria',   'Dragon',   'Flying'),
            (      'AltariaMega Altaria',   'Dragon',    'Fairy'),
            (                   'Amaura',     'Rock',      'Ice'),
            ...
            (      'WormadamTrash Cloak',      'Bug',    'Steel'),
            (                     'Xatu',  'Psychic',   'Flying'),
            (                    'Yanma',      'Bug',   'Flying'),
            (                  'Yanmega',      'Bug',   'Flying'),
            (                  'Yveltal',     'Dark',   'Flying'),
            (                   'Zapdos', 'Electric',   'Flying'),
            (                   'Zekrom',   'Dragon', 'Electric'),
            (                    'Zubat',   'Poison',   'Flying'),
            (                 'Zweilous',     'Dark',   'Dragon'),
            (         'Zygarde50% Forme',   'Dragon',   'Ground')],
           names=['Name', 'Type 1', 'Type 2'], length=414)

In [14]:
df_aula.reset_index(drop=False, inplace=True)
df_aula

,Name,Type 1,Type 2,#,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,Abomasnow,Grass,Ice,460,90,92,75,92,85,60,4,0
1,AbomasnowMega Abomasnow,Grass,Ice,460,90,132,105,132,105,30,4,0
2,AegislashBlade Forme,Steel,Ghost,681,60,150,50,150,50,60,6,0
3,AegislashShield Forme,Steel,Ghost,681,60,50,150,50,150,60,6,0
4,Aerodactyl,Rock,Flying,142,80,105,65,60,75,130,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...
409,Zapdos,Electric,Flying,145,90,90,85,125,90,100,1,1
410,Zekrom,Dragon,Electric,644,100,150,120,120,100,90,5,1
411,Zubat,Poison,Flying,41,40,45,35,30,40,55,1,0
412,Zweilous,Dark,Dragon,634,72,85,70,65,70,58,5,0
413,Zygarde50% Forme,Dragon,Ground,718,108,100,121,81,95,95,6,1

In [15]:
df_aula.columns

Index(['Name', 'Type 1', 'Type 2', '#', 'HP', 'Attack', 'Defense', 'Sp. Atk',
       'Sp. Def', 'Speed', 'Generation', 'Legendary'],
      dtype='object')

In [16]:
df_aula.index

RangeIndex(start=0, stop=414, step=1)

In [17]:
df_aula.sort_values('HP', ascending=False, inplace=True)
df_aula

,Name,Type 1,Type 2,#,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
87,Drifblim,Ghost,Flying,426,150,80,44,90,54,80,4,0
127,GiratinaAltered Forme,Ghost,Dragon,487,150,100,120,100,120,90,4,1
128,GiratinaOrigin Forme,Ghost,Dragon,487,150,120,100,120,100,90,4,1
398,Wigglytuff,Normal,Fairy,40,140,70,45,85,50,45,1,0
191,Lapras,Water,Ice,131,130,85,80,85,95,60,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...
281,Ralts,Psychic,Fairy,280,28,25,25,45,35,40,3,0
213,Magnemite,Electric,Steel,81,25,35,70,95,55,45,1,0
235,Mime Jr.,Psychic,Fairy,439,20,25,45,70,90,60,4,0
320,Shuckle,Bug,Rock,213,20,10,230,10,230,5,2,0
317,Shedinja,Bug,Ghost,292,1,90,45,30,30,40,3,0

In [ ]:
df_aula

In [ ]:
df_aula = df_aula.sort_values('HP', ascending=False, inplace=True)
df_aula

In [ ]:
df_aula

In [ ]:
df_pokemons

In [ ]:
df2 = df_pokemons.groupby(['Name','Type 1','Type 2']).sum()
df2 = df2.reset_index()
df2 = df2[['Name','Type 1','Type 2','HP']].sort_values('Type 1')
df2 = df2.reset_index(drop=True)
df2

In [ ]:
'abc'+'def'

In [18]:
df_pokemons.groupby(['Type 1'])[['HP', 'Defense', 'Attack']].mean()

                 HP     Defense      Attack
Type 1
Bug       56.884058   70.724638   70.971014
Dark      66.806452   70.225806   88.387097
Dragon    83.312500   86.375000  112.125000
Electric  59.795455   66.295455   69.090909
Fairy     74.117647   65.705882   61.529412
Fighting  69.851852   65.925926   96.777778
Fire      69.903846   67.769231   84.769231
Flying    70.750000   66.250000   78.750000
Ghost     64.437500   81.187500   73.781250
Grass     67.271429   70.800000   73.214286
Ground    73.781250   84.843750   95.750000
Ice       72.000000   71.416667   72.750000
Normal    77.275510   59.846939   73.469388
Poison    67.250000   68.821429   74.678571
Psychic   70.631579   67.684211   71.456140
Rock      65.363636  100.795455   92.863636
Steel     65.222222  126.370370   92.703704
Water     72.062500   72.946429   74.151786

In [20]:
df_pokemons.loc[df_pokemons['Type 1']=='Bug']

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
13,10,Caterpie,Bug,NaN,45,30,35,20,20,45,1,False
14,11,Metapod,Bug,NaN,50,20,55,25,25,30,1,False
15,12,Butterfree,Bug,Flying,60,45,50,90,80,70,1,False
16,13,Weedle,Bug,Poison,40,35,30,20,20,50,1,False
17,14,Kakuna,Bug,Poison,45,25,50,25,25,35,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...
698,637,Volcarona,Bug,Fire,85,60,65,135,105,100,5,False
717,649,Genesect,Bug,Steel,71,120,95,120,95,99,5,False
732,664,Scatterbug,Bug,NaN,38,35,40,27,25,35,6,False
733,665,Spewpa,Bug,NaN,45,22,60,27,30,29,6,False
734,666,Vivillon,Bug,Flying,80,52,50,90,50,89,6,False

In [19]:
df_pokemons.groupby('Type 1').get_group('Bug')

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
13,10,Caterpie,Bug,NaN,45,30,35,20,20,45,1,False
14,11,Metapod,Bug,NaN,50,20,55,25,25,30,1,False
15,12,Butterfree,Bug,Flying,60,45,50,90,80,70,1,False
16,13,Weedle,Bug,Poison,40,35,30,20,20,50,1,False
17,14,Kakuna,Bug,Poison,45,25,50,25,25,35,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...
698,637,Volcarona,Bug,Fire,85,60,65,135,105,100,5,False
717,649,Genesect,Bug,Steel,71,120,95,120,95,99,5,False
732,664,Scatterbug,Bug,NaN,38,35,40,27,25,35,6,False
733,665,Spewpa,Bug,NaN,45,22,60,27,30,29,6,False
734,666,Vivillon,Bug,Flying,80,52,50,90,50,89,6,False

In [21]:
df_pokemons.groupby(['Type 1', 'Type 2']).size()

Type 1  Type 2
Bug     Electric     2
        Fighting     2
        Fire         2
        Flying      14
        Ghost        1
                    ..
Water   Ice          3
        Poison       3
        Psychic      5
        Rock         4
        Steel        1
Length: 136, dtype: int64

In [ ]:
df_pokemons['Type 1'].value_counts()

In [23]:
# Média de HP agrupada por Type 1
df_pokemons.groupby('Type 1')['HP'].mean()

Type 1
Bug         56.884058
Dark        66.806452
Dragon      83.312500
Electric    59.795455
Fairy       74.117647
Fighting    69.851852
Fire        69.903846
Flying      70.750000
Ghost       64.437500
Grass       67.271429
Ground      73.781250
Ice         72.000000
Normal      77.275510
Poison      67.250000
Psychic     70.631579
Rock        65.363636
Steel       65.222222
Water       72.062500
Name: HP, dtype: float64

In [24]:
# Agrupando por mais de um grupo
df_pokemons.groupby(['Type 1', 'Legendary'])['HP'].mean()#.reset_index()

Type 1    Legendary
Bug       False         56.884058
Dark      False         64.655172
          True          98.000000
Dragon    False         72.650000
          True         101.083333
Electric  False         57.325000
          True          84.500000
Fairy     False         70.875000
          True         126.000000
Fighting  False         69.851852
Fire      False         67.085106
          True          96.400000
Flying    False         62.500000
          True          79.000000
Ghost     False         58.733333
          True         150.000000
Grass     False         65.940299
          True          97.000000
Ground    False         70.821429
          True          94.500000
Ice       False         70.818182
          True          85.000000
Normal    False         76.489583
          True         115.000000
Poison    False         67.250000
Psychic   False         67.720930
          True          79.571429
Rock      False         65.125000
          True          67.750000
Steel     False         60.434783
          True          92.750000
Water     False         71.120370
          True          97.500000
Name: HP, dtype: float64

### E se quisermos aplicar mais funções ? E se quisermos aplicar funções diferentes para colunas diferentes?1

In [25]:
df_pokemons.groupby('Type 1')['HP'].min()

Type 1
Bug          1
Dark        35
Dragon      41
Electric    20
Fairy       35
Fighting    30
Fire        38
Flying      40
Ghost       20
Grass       30
Ground      10
Ice         36
Normal      30
Poison      35
Psychic     20
Rock        30
Steel       40
Water       20
Name: HP, dtype: int64

In [26]:
df_pokemons.groupby('Type 1')['HP'].median()

Type 1
Bug         60.0
Dark        65.0
Dragon      80.0
Electric    60.0
Fairy       78.0
Fighting    70.0
Fire        70.0
Flying      79.0
Ghost       59.5
Grass       65.5
Ground      75.0
Ice         70.0
Normal      70.0
Poison      67.5
Psychic     68.0
Rock        68.5
Steel       60.0
Water       70.0
Name: HP, dtype: float64

In [27]:
df_pokemons.groupby('Type 1')['HP'].max()

Type 1
Bug          86
Dark        126
Dragon      125
Electric     90
Fairy       126
Fighting    144
Fire        115
Flying       85
Ghost       150
Grass       123
Ground      115
Ice         110
Normal      255
Poison      105
Psychic     190
Rock        123
Steel       100
Water       170
Name: HP, dtype: int64

In [29]:
df_pokemons.groupby('Type 1')['HP'].aggregate(['min', 'median', 'max'])

          min  median  max
Type 1
Bug         1    60.0   86
Dark       35    65.0  126
Dragon     41    80.0  125
Electric   20    60.0   90
Fairy      35    78.0  126
Fighting   30    70.0  144
Fire       38    70.0  115
Flying     40    79.0   85
Ghost      20    59.5  150
Grass      30    65.5  123
Ground     10    75.0  115
Ice        36    70.0  110
Normal     30    70.0  255
Poison     35    67.5  105
Psychic    20    68.0  190
Rock       30    68.5  123
Steel      40    60.0  100
Water      20    70.0  170

In [30]:
df_pokemons.groupby('Type 1')['HP'].aggregate(['min', np.median, max]).reset_index()

/var/folders/zm/3bssg1p14lj63wq1qny6y2qh0000gn/T/ipykernel_9586/2644222977.py:1: FutureWarning: The provided callable <function median at 0x10ae9f250> is currently using SeriesGroupBy.median. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "median" instead.
  df_pokemons.groupby('Type 1')['HP'].aggregate(['min', np.median, max]).reset_index()
/var/folders/zm/3bssg1p14lj63wq1qny6y2qh0000gn/T/ipykernel_9586/2644222977.py:1: FutureWarning: The provided callable <built-in function max> is currently using SeriesGroupBy.max. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "max" instead.
  df_pokemons.groupby('Type 1')['HP'].aggregate(['min', np.median, max]).reset_index()

      Type 1  min  median  max
0        Bug    1    60.0   86
1       Dark   35    65.0  126
2     Dragon   41    80.0  125
3   Electric   20    60.0   90
4      Fairy   35    78.0  126
5   Fighting   30    70.0  144
6       Fire   38    70.0  115
7     Flying   40    79.0   85
8      Ghost   20    59.5  150
9      Grass   30    65.5  123
10    Ground   10    75.0  115
11       Ice   36    70.0  110
12    Normal   30    70.0  255
13    Poison   35    67.5  105
14   Psychic   20    68.0  190
15      Rock   30    68.5  123
16     Steel   40    60.0  100
17     Water   20    70.0  170

```python
df.groupby(COLUNA_AGRUPADORA)[COLUNA_OPERACAO].operacao()
df.groupby(COLUNA_AGRUPADORA)[COLUNA_OPERACAO].aggregate([operacao1, operacao2, ...])
df.groupby(COLUNA_AGRUPADORA).aggregate({COLUNA_OPERACAO1: [OPERACAO1, OPERACAO2], COLUNA_OPERACAO2: OPERACAO3})
```

In [32]:
df_pokemons.groupby('Type 1').aggregate({'HP': ['min', 'max'], 'Attack': ['sum', 'mean'], 'Defense': ['sum', 'mean']})

          HP      Attack             Defense
         min  max    sum        mean     sum        mean
Type 1
Bug        1   86   4897   70.971014    4880   70.724638
Dark      35  126   2740   88.387097    2177   70.225806
Dragon    41  125   3588  112.125000    2764   86.375000
Electric  20   90   3040   69.090909    2917   66.295455
Fairy     35  126   1046   61.529412    1117   65.705882
Fighting  30  144   2613   96.777778    1780   65.925926
Fire      38  115   4408   84.769231    3524   67.769231
Flying    40   85    315   78.750000     265   66.250000
Ghost     20  150   2361   73.781250    2598   81.187500
Grass     30  123   5125   73.214286    4956   70.800000
Ground    10  115   3064   95.750000    2715   84.843750
Ice       36  110   1746   72.750000    1714   71.416667
Normal    30  255   7200   73.469388    5865   59.846939
Poison    35  105   2091   74.678571    1927   68.821429
Psychic   20  190   4073   71.456140    3858   67.684211
Rock      30  123   4086   92.863636    4435  100.795455
Steel     40  100   2503   92.703704    3412  126.370370
Water     20  170   8305   74.151786    8170   72.946429

In [ ]:
df_pokemons.groupby('Type 1').agg({'HP': max, 'Attack': [np.sum, np.mean], 'Defense': [np.sum, np.mean]})

In [ ]:
# Agrupando por Type 1 e aplicando várias funções diferentes para diferentes colunas
df_pokemons.groupby('Type 1').agg({'HP': ['max', 'min'], 'Sp. Atk': [np.std, np.median]}).reset_index()#['HP','max']

# Pivot Table

Usado para resumir os dados.

```python
pandas.pivot_table(data, values=None, index=None, columns=None, aggfunc='mean', fill_value=None, margins=False, dropna=True, margins_name='All', observed=False)
```

In [33]:
df = pd.read_csv('titanic_train.csv')
df.head()

,Unnamed: 0,PassengerId,Survived,Sex,Age,Fare,Pclass_1,Pclass_2,Pclass_3,Family_size,Title_1,Title_2,Title_3,Title_4,Emb_1,Emb_2,Emb_3
0,0,1,0,1,0.2750,0.014151,0,0,1,0.1,1,0,0,0,0,0,1
1,1,2,1,0,0.4750,0.139136,1,0,0,0.1,1,0,0,0,1,0,0
2,2,3,1,0,0.3250,0.015469,0,0,1,0.0,0,0,0,1,0,0,1
3,3,4,1,0,0.4375,0.103644,1,0,0,0.1,1,0,0,0,0,0,1
4,4,5,0,1,0.4375,0.015713,0,0,1,0.0,1,0,0,0,0,0,1

In [34]:
df.drop(['PassengerId','Unnamed: 0'], inplace=True, axis=1)

In [35]:
df

,Survived,Sex,Age,Fare,Pclass_1,Pclass_2,Pclass_3,Family_size,Title_1,Title_2,Title_3,Title_4,Emb_1,Emb_2,Emb_3
0,0,1,0.2750,0.014151,0,0,1,0.1,1,0,0,0,0,0,1
1,1,0,0.4750,0.139136,1,0,0,0.1,1,0,0,0,1,0,0
2,1,0,0.3250,0.015469,0,0,1,0.0,0,0,0,1,0,0,1
3,1,0,0.4375,0.103644,1,0,0,0.1,1,0,0,0,0,0,1
4,0,1,0.4375,0.015713,0,0,1,0.0,1,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
787,0,1,0.1000,0.056848,0,0,1,0.5,0,0,1,0,0,1,0
788,1,1,0.0125,0.040160,0,0,1,0.3,0,0,1,0,0,0,1
789,0,1,0.5750,0.154588,1,0,0,0.0,1,0,0,0,1,0,0
790,0,1,0.3500,0.015127,0,0,1,0.0,1,0,0,0,0,1,0
791,0,1,0.2000,0.050749,0,1,0,0.0,1,0,0,0,0,0,1

Pivot table precisa de duas entradas:
* data: o dataframe utilizado.
* index: a variável que vai ser usada para agrupar os dados.
* values: colunas a serem agregadas

In [39]:
# pd.pivot_table(data=df, index=['Sex'], aggfunc='count')
df_sex = pd.pivot_table(data=df, index=['Sex'], aggfunc='count')
df_sex

,Age,Emb_1,Emb_2,Emb_3,Family_size,Fare,Pclass_1,Pclass_2,Pclass_3,Survived,Title_1,Title_2,Title_3,Title_4
Sex,,,,,,,,,,,,,,
0,279,279,279,279,279,279,279,279,279,279,279,279,279,279
1,513,513,513,513,513,513,513,513,513,513,513,513,513,513

In [40]:
df_sex = pd.pivot_table(data=df, values=['Age'] , index=['Sex'], aggfunc='count')
df_sex

     Age
Sex
0    279
1    513

In [46]:
# usando multiindex:
table = pd.pivot_table(df, index=['Sex','Pclass_1'], values=['Age'], aggfunc='count')*100
table

                Age
Sex Pclass_1
0   0         19800
    1          8100
1   0         40100
    1         11200

In [47]:
# usando multiindex:
table = pd.pivot_table(df, index=['Sex','Pclass_1'], values=['Age'], aggfunc='mean')*100
table

                    Age
Sex Pclass_1
0   0         31.679293
    1         41.203704
1   0         34.911160
    1         49.602902

In [48]:
# é possível usar diferentes aggfunc além do default que é o np.mean()
table = pd.pivot_table(df, index=['Sex','Pclass_1'], aggfunc={'Age':np.mean, 'Survived':np.sum})
table

/var/folders/zm/3bssg1p14lj63wq1qny6y2qh0000gn/T/ipykernel_9586/1006238152.py:2: FutureWarning: The provided callable <function mean at 0x10aa0c430> is currently using SeriesGroupBy.mean. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "mean" instead.
  table = pd.pivot_table(df, index=['Sex','Pclass_1'], aggfunc={'Age':np.mean, 'Survived':np.sum})
/var/folders/zm/3bssg1p14lj63wq1qny6y2qh0000gn/T/ipykernel_9586/1006238152.py:2: FutureWarning: The provided callable <function sum at 0x10aa06f80> is currently using SeriesGroupBy.sum. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "sum" instead.
  table = pd.pivot_table(df, index=['Sex','Pclass_1'], aggfunc={'Age':np.mean, 'Survived':np.sum})

                   Age  Survived
Sex Pclass_1
0   0         0.316793       131
    1         0.412037        78
1   0         0.349112        56
    1         0.496029        41

In [ ]:
# para selecionar algumas features use o values
table = pd.pivot_table(df, index=['Sex','Pclass_1'], values=['Survived'], aggfunc=np.sum)
table